@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
/* Add a black background color to the top navigation */
.topnav {
    background-color: #6b5948;
    overflow: hidden;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Stick it to the very top of the page */
    left: 0;
    width: 100%; /* Make it span the full width */
    overflow: hidden;
    padding: 10px 0; /* Add some padding for spacing */
    text-align: center;
    z-index: 1000;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    font-family:'Delius';
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9bbd84;
    color: white;
  }
